* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header {
    background-color: lime;
    height: 150px;
    font-size: 125px;
    color: black;
    text-align: center;
}

.sidebar {
    background-color: rgb(2, 187, 2);
    width: 200px;
    font-size: 29px;
    color: black;
    text-align: center;
}

.navbuttons {
    height: 90%;
}

.footer {
    background-color: rgb(1, 167, 1);
    font-size: 15px;
    color: black;
    height: 10%;
}

.navigation:hover {
    color: cyan;
}

.navigation {
    box-sizing: border-box;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.current {
    color: blue;
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
}