<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="casus-title.css">
    <link rel="stylesheet" href="../../casus-style/mainframe.css">
</head>

<body>
    <div class="container">
        <h1 class="header">
            component library
        </h1>
        <div class="body">
            <div class="sidebar">
                <nav class="navbuttons">
                    <div class="navigation">
                        <a href="../casus-homepage/casus.html" class="navigation">all components</a>
                    </div>
                    <div class="current">title</div>
                    <div class="navigation">
                        <a href="../paragraphs/casus-paragraph.html" class="navigation">paragraph</a>
                    </div>
                    <div class="navigation">
                        <a href="../buttons/casus-button.html" class="navigation">button</a>
                    </div>
                    <div class="navigation">
                        <a href="../lists/casus-list.html" class="navigation">list</a>
                    </div>
                    <div class="navigation">
                        <a href="../forms/casus-form.html" class="navigation">form</a>
                    </div>
                    <div class="navigation">
                        <a href="../tables/casus-table.html" class="navigation">table</a>
                    </div>
                    <div class="navigation">
                        <a href="../video/casus-video.html" class="navigation">video</a>
                    </div>
                    <div class="navigation">
                        <a href="../images/casus-image.html" class="navigation">image</a>
                    </div>
                </nav>
                <!-- dit is een footer -->
                <footer class="footer">made by: Vasco van Haren</footer>
            </div>
            <div class="main">
                <div class="title-container">
                    <h1 class="title-design">
                        title
                    </h1>
                    <h2 class="title-design title2">
                        title
                    </h2>
                </div>
                <div class="title-container">
                    <h3 class="title-design title3">
                        title
                    </h3>
                    <h4 class="title-design title4">
                        title
                    </h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>