<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="casus-video.css">
    <link rel="stylesheet" href="../../casus-style/mainframe.css">
</head>

<body>
    <div class="container">
        <h1 class="header">
            component library
        </h1>
        <div class="body">
            <div class="sidebar">
                <nav class="navbuttons">
                    <div class="navigation">
                        <a href="../casus-homepage/casus.html" class="navigation">all components</a>
                    </div>
                    <div class="navigation">
                        <a href="../titles/casus-title.html" class="navigation">title</a>
                    </div>
                    <div class="navigation">
                        <a href="../paragraphs/casus-paragraph.html" class="navigation">paragraph</a>
                    </div>
                    <div class="navigation">
                        <a href="../buttons/casus-button.html" class="navigation">button</a>
                    </div>
                    <div class="navigation">
                        <a href="../lists/casus-list.css" class="navigation">list</a>
                    </div>
                    <div class="navigation">
                        <a href="../forms/casus-form.html" class="navigation">form</a>
                    </div>
                    <div class="navigation">
                        <a href="../tables/casus-table.html" class="navigation">table</a>
                    </div>
                    <div class="current">video</div>
                    <div class="navigation">
                        <a href="../images/casus-image.html" class="navigation">image</a>
                    </div>
                </nav>
                <!-- dit is een footer -->
                <footer class="footer">made by: Vasco van Haren</footer>
            </div>
            <div class="main">
                <div class="video-container">
                    <div class="video">
                        <iframe width="560" height="280" src="https://www.youtube.com/embed/BEH_fMgRNrc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="video">
                        <iframe width="560" height="280" src="https://www.youtube.com/embed/ooL9nVQA6qU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="video-container">
                    <div class="video">
                        <iframe width="560" height="280" src="https://www.youtube.com/embed/ByKdhiqLV5s"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="video">
                        <iframe width="560" height="280" src="https://www.youtube.com/embed/VWc5ZbPLYBo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>