<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="casus-form.css">
    <link rel="stylesheet" href="../../casus-style/mainframe.css">
</head>

<body>
    <div class="container">
        <h1 class="header">
            component library
        </h1>
        <div class="body">
            <div class="sidebar">
                <nav class="navbuttons">
                    <div class="navigation">
                        <a href="../casus-homepage/casus.html" class="navigation">all components</a>
                    </div>
                    <div class="navigation">
                        <a href="../titles/casus-title.html" class="navigation">title</a>
                    </div>
                    <div class="navigation">
                        <a href="../paragraphs/casus-paragraph.html" class="navigation">paragraph</a>
                    </div>
                    <div class="navigation">
                        <a href="../buttons/casus-button.html" class="navigation">button</a>
                    </div>
                    <div class="navigation">
                        <a href="../lists/casus-list.html" class="navigation">list</a>
                    </div>
                    <div class="current">form</div>
                    <div class="navigation">
                        <a href="../tables/casus-table.html" class="navigation">table</a>
                    </div>
                    <div class="navigation">
                        <a href="../video/casus-video.html" class="navigation">video</a>
                    </div>
                    <div class="navigation">
                        <a href="../images/casus-image.html" class="navigation">image</a>
                    </div>
                </nav>
                <!-- dit is een footer -->
                <footer class="footer">made by: Vasco van Haren</footer>
            </div>
            <div class="main">
                <form>
                    what is your name?
                    <input type="text" />
                    <br>
                    what is your age
                    <input type="number" />
                    <br>
                    are you a teacher?
                    <input type="checkbox" />
                    <br>
                    what is your pincode?
                    <input type="password" />
                    <br>
                    select your gender
                    <select>
                        <option value="option1">male</option>
                        <option value="option2">female</option>
                        <option value="option3">attack helicopter</option>
                    </select>
                    <br>
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>